<app-navbar></app-navbar>
<!-- (click)="openDialog(stat.icao, stat.name)" -->
<!-- <ul>
    <li class="text" *ngFor="let item of stationList">
        {{item | json}}
        <hr>
    </li>
</ul> -->

<div class="container">
    <mat-card class="station-card" *ngFor="let stat of stationList">
        <mat-card-header>
            <mat-card-title>{{stat.name}}</mat-card-title>
            <mat-card-subtitle>{{stat.city}}</mat-card-subtitle>
            <mat-card-subtitle>{{stat.icao}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Status: {{stat.status}} <br>
            Lat: {{stat.latitude.degrees}} <br>
            Lon: {{stat.longitude.degrees}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button  color="accent">METAR</button>
            <button mat-button (click)="onDelete(stat)">ELIMINA</button>
        </mat-card-actions>
    </mat-card>
</div>