<mat-toolbar color="primary">
    <span>Aviation Weather App</span>
    <span class="example-spacer"></span>
    <button routerLink="/" mat-stroked-button color="link" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Home 
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
    <button routerLink="/fire" mat-stroked-button color="link" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        FireBase 
        <mat-icon aria-hidden="false" aria-label="Example home icon">local_fire_department</mat-icon>
    </button>
</mat-toolbar>