<mat-toolbar color="primary">
    <span>Aviation Weather App</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button color="link" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Station
    </button>
    <button mat-stroked-button color="link" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        TAF
    </button>
    <button mat-raised-button color="warn" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        METAR
    </button>
</mat-toolbar>