<div class="angry-grid">
    <mat-form-field id="item-0" appearance="fill">
        <mat-label color="warn">ICAO, IATA or Name</mat-label>
        <input matInput type="text" [(ngModel)]="query">
        <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="query.length == 4" (click)="save()">
            <mat-icon>star</mat-icon>
        </button>
        <mat-hint align="start"><strong>{{query}}</strong> </mat-hint>
        <mat-hint align="end">{{query.length}} / 50</mat-hint>
    </mat-form-field>
    
</div>
<app-result-page [queryIn]="query">
</app-result-page>